<div class="header">
    <h1>WHY JOIN OUR</h1>
    <h1>VIRTUAL SPEAKER COMMUNITY?</h1>
    <h4>NFLUENCE <span>X</span> DISRUPT <span>X</span>  INSPIRE</h4>
</div>
<div class="row">
    <div class="col">
        <img src="./assets/images/1.jpg"alt="">
        <h5>Harry D. Moseley</h5>
        <h6>VMWare</h6>
    </div>
    <div class="col">
        <img src="./assets/images/2.jpg" alt="">
        <h5>Fig O’Reilly</h5>
        <h6>RSA</h6>
    </div>
    <div class="col">
        <img src="./assets/images/3.jpg" alt="">
        <h5>Bryan Che</h5>
        <h6>McAfee</h6>
    </div>
    <div class="col">
        <img src="./assets/images/4.jpg" alt="">
        <h5>Dr. Graciela Chichilnisky</h5>
        <h6>Meetup</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img src="./assets/images/5.jpg" alt="">
        <h5>Chelsea Mozen</h5>
        <h6>Soapbox Labs</h6>
    </div>
    <div class="col">
        <img src="./assets/images/6.jpg" alt="">
        <h5>Kristine Dahl Steidel</h5>
        <h6>Zoom</h6>
    </div>
    <div class="col">
        <img src="./assets/images/7.jpg" alt="">
        <h5>Zulfikar Ramzan</h5>
        <h6>Huawei</h6>
    </div>
    <div class="col">
        <img src="./assets/images/8.jpg" alt="">
        <h5>Raj Samani</h5>
        <h6>Global Thermostat</h6>
    </div>
  </div>


  