
  
  <div class="details">
    <h1>JOIN US FOR DTS VIRTUAL <span>2021</span></h1>
    <h2>June 17th <span>2021</span></h2>
    <h2>Thank you for making DTS Virtual <span>2020 so successful</span></h2>
    <h4>Attendees can view our on demand content now</h4>
    <p>Dublin Tech Summit Virtual will draw the most influential tech and business leaders from across the world.
    For one day, experts from over 70 countries will come together to share knowledge, debate the latest trends, 
    and network, all from our live virtual event space.
    </p>
    <button type="button" class="btn btn-primary">Login to DTs virtual 2020</button>
  </div>
  
 
    <div class="row">
    <div class="col">
      <img src="assets/images/atend.png" alt="">
      <h5>5,000 Attendees</h5>
    </div>
    <div class="col">
      <img src="assets/images/country.png" alt="">
      <h5>60+ Countries</h5>
    </div>
    <div class="col">
      <img src="assets/images/speakers.png" alt="">
      <h5 style="margin-top: 3ex;">100+ Speakers</h5>
    </div>
    </div>
    <div class="about">
        <h1 style="color: aqua;">WHAT IS DTS <span style="color: rgb(224, 19, 19);"> VIRTUAL?</span></h1>
        <br>
        <h2 style="color: aqua;">5,000 Delegates <span style="color: rgb(224, 19, 19);">/</span> 80 Speakers <span style="color: rgb(224, 19, 19);">/</span>  50 Partners</h2>
        <p>Dublin Tech Summit Virtual will draw the most influential tech and business leaders from across the world.</p>
        <p>For one day, experts from over 70 countries will come together to share knowledge, debate the latest trends, and network, all from our live virtual event space.</p>
        <p>Are you interested in scaling your start-up? Do you want to future-proof your business? Learn more about diversity in tech? Make global change? Join our community of leaders at DTS21, the chosen platform to help accelerate growth across the globe.</p>
        <p>Join us and engage with the thinkers of tomorrow!</p>
    </div>
   <div class="subs">
        <h1 style="color: aqua;">BE THE FIRST TO GET EVERY ANNOUNCEMENT</h1>
        <h4 style="color: rgb(224, 19, 19);">SUBSCRIBE TO OUR NEWSLETTER</h4>
        <form>
        <div class="form-group">
            <label for="formGroupExampleInput2">First name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="your name">
          </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Last name</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="your name">
          </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Email</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">passaword</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="passaword">
        </div>
      </form>
   </div>
  
  
