<div class="header">
    <h1>OUR <span>BLOGS</span></h1>
</div>
<div class="row">
    <div class="col">
      <img src="./assets/images/b1.png" alt="">
      <h6>BIG DATA</h6>
      <p style=" color: black;">
        BIG DATA
        BUSINESSES CAN REAP REWARDS OF A ROBUST APPROACH TO DATA ETHICS</p>
        
        <p style="margin-top: 2ex;" >
            Brands taking data ethics seriously can secure competitive advantage as well as 
            compliance”, according to Natasha Singh, Principal Consultant – Privacy and Data 
            Protection at Gemserv. The amount of data that each of us produces is growing…</p>
    </div>
    <div class="col">
      <img src="./assets/images/b2.png" alt="">
      <h6>STARTUPS</h6>
      <p style=" color: black;">WHAT MATTERS MOST WHEN CHOOSING AN EMPLOYER OF RECORD</p>
        
        <p style="margin-top: 2ex;" >
            It has never been easier to hire internationally. If you are looking for help to
             expand almost anywhere in the world, gone are the days when entity setup was required 
             before onboarding a team member in another country. An Employer of…</p>
    </div>
    <div class="col">
        <img src="./assets/images/b3.jpg" alt="">
        <h6>UNCATEGORISED</h6>
      <p style="color: black;">WORKHUMAN IS THE LATEST IRISH HR TECH FIRM TO HIT UNICORN STATUS</p>
        
        <p style="margin-top: 2ex;" >Workhuman Announces New Strategic Investor; Continues Strong Growth Trajectory in 
            1H 2020 Company now valued at $1.2B, sees impressive adoption of new product offerings and helps to support 
            new ways of making human connection…</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <img src="./assets/images/b4.jpg" alt="">
        <h6>STARTUPS</h6>
      <p style=" color: black;">TIPS ON EXPANDING A STARTUP INTERNATIONALLY</p>
        
        <p style="margin-top: 2ex;" >The creation of a successful startup is a feat unto itself. Eighty-hour work weeks, 
            all-night coding or strategy sessions, and months or years of uncertainty all become worth it when the company 
            transforms into a successful business…</p>
    </div>
    <div class="col">
        <img src="./assets/images/b5.jpg" alt="">
        <h6>UNCATEGORISED</h6>
      <p style=" color: black;">TIPS FOR CHOOSING A GLOBAL EXPANSION LOCATION:</p>
        
        <p style="margin-top: 2ex;" >International expansion decisions don’t happen overnight. They’re the result of
             extensive research and planning inspired by market events promising a new revenue pathway for your products 
             or services. In other words, they start with spotting…</p>
    </div>
    <div class="col">
        <img src="./assets/images/b6.jpg" alt="">
        <h6>UNCATEGORISED</h6>
      <p style=" color: black;">GPS FOR BUSINESS SUPPORT IN THE DIGITAL AGE</p>
        
        <p style="margin-top: 2ex;" >You could argue that one of the greatest inventions which has been integrated 
            into our daily lives is GPS, and what’s not to like about it! You enter where you are, where you want to go, 
            and the device does the rest. It will tell you how long…</p>
    </div>
  </div>