.header{
    padding: 10ex;
    text-align: center;
    background: linear-gradient(90deg,#d53369 0%,#cbad6d 90%);
}
h1{
    color: rgb(70, 1, 139);
}
span{
    color: rgb(41, 3, 66);
}
img{
    width: 35ex;
    height: 25ex;
    border-radius: 1ex;
    margin-left: 5ex;
}
.row{
    padding: 10ex;
    margin-bottom: 3ex;
}
h6{
    margin-top: 4ex;
    text-align: center;
    color: #d53369;
}
p{
    width: 80%;
    margin-left: 5ex;
    margin-top: 1ex;
}